.u-section-1 .u-sheet-1 {
  min-height: 444px;
}

.u-section-1 .u-image-1 {
  width: 919px;
  height: 311px;
  margin: 133px 78px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 244px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 183px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 115px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1603px;
}

.u-section-2 .u-image-1 {
  width: 919px;
  height: 656px;
  margin: 5px 78px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 919px;
  height: 942px;
  margin: -5px 78px 5px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-right: 21px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1257px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 514px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 720px;
    height: 738px;
    margin-top: 137px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 386px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 554px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 243px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 349px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 5976px;
}

.u-section-3 .u-image-1 {
  width: 919px;
  height: 967px;
  margin: 1px 78px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 919px;
  height: 876px;
  margin: 5px 78px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 919px;
  height: 856px;
  margin: -1px 78px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 919px;
  height: 1059px;
  margin: 0 78px 0 auto;
}

.u-section-3 .u-image-5 {
  width: 919px;
  height: 1194px;
  margin: -1px 78px 0 auto;
}

.u-section-3 .u-image-6 {
  width: 919px;
  height: 1020px;
  margin: 0 78px 1px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-right: 21px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 21px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 21px;
  }

  .u-section-3 .u-image-4 {
    margin-right: 21px;
  }

  .u-section-3 .u-image-5 {
    margin-right: 21px;
  }

  .u-section-3 .u-image-6 {
    margin-right: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4683px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 758px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 720px;
    height: 686px;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    width: 720px;
    height: 671px;
    margin-top: 189px;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    width: 720px;
    height: 830px;
    margin-right: 0;
  }

  .u-section-3 .u-image-5 {
    width: 720px;
    height: 935px;
    margin-top: 228px;
    margin-right: 0;
  }

  .u-section-3 .u-image-6 {
    width: 720px;
    height: 799px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3514px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 569px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 515px;
  }

  .u-section-3 .u-image-3 {
    width: 540px;
    height: 503px;
  }

  .u-section-3 .u-image-4 {
    width: 540px;
    height: 623px;
  }

  .u-section-3 .u-image-5 {
    width: 540px;
    height: 701px;
  }

  .u-section-3 .u-image-6 {
    width: 540px;
    height: 599px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2213px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 358px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 324px;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 317px;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 392px;
  }

  .u-section-3 .u-image-5 {
    width: 340px;
    height: 441px;
  }

  .u-section-3 .u-image-6 {
    width: 340px;
    height: 377px;
  }
}